@import "~react-responsive-carousel/lib/styles/carousel.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: max-content;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.responsive-iframe {
  position: relative;
  width: 100%; /* Full width for responsiveness */
  padding-bottom: 75%; /* Aspect ratio: adjust to desired ratio, e.g., 75% for 4:3 */
  height: 0; /* Height will be set by padding-bottom */
  overflow: hidden; /* Prevent content overflow */
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Remove default iframe border */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS devices */
  overflow: auto; /* Ensure scrolling works on mobile */
}

@media (max-width: 768px) {
  .responsive-iframe {
    display: none;
  }
}

.carousel-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
